name: Build ubo-minimal and ubl-mini

on:
   schedule:
      - cron: "0 0 * * 1"   # weekly, Monday 00:00 UTC
   workflow_dispatch:

permissions:
   contents: write

jobs:
   build:
      runs-on: ubuntu-latest

      steps:
         - name: Download uBlock Origin filter lists
           run: |
              urls=(
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-general.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2020.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2021.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2022.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2023.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2024.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2025.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2026.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/ubo-link-shorteners.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-mobile.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/privacy.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/quick-fixes.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/unbreak.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/lan-block.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/annoyances-cookies.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/annoyances-others.txt
              )

              for u in "${urls[@]}"; do
                 curl -fsSL "$u"
              done > merged.txt

         - name: Build ubo-minimal.txt
           run: |
              awk '
                 /^!#(if|endif)/ { print; next }
                 /^!/              { next }
                 NF
              ' merged.txt > ubo-body.txt

              printf "! %s\n" "$(date '+%Y-%m-%d %H:%M:%S')" > ubo-minimal.txt
              cat ubo-body.txt >> ubo-minimal.txt

         - name: Download uBlacklist lists
           run: |
              urls=(
                 https://raw.githubusercontent.com/NotaInutilis/Super-SEO-Spam-Suppressor/main/ublacklist.txt
                 https://api.stopmodreposts.org/ublacklist.txt
                 https://codeberg.org/legendary_creeper/mc-safebrowsing/raw/branch/main/mc-sb-ublacklist.txt
              )

              for u in "${urls[@]}"; do
                 curl -fsSL "$u"
              done > ubl-merged.txt

         - name: Build ubl-mini.txt
           run: |
              awk '
                 /^---$/                    { next }
                 /^name:[[:space:]]*/       { next }
                 /^description:/            { next }
                 /^homepage:/               { next }
                 /^#[[:space:]]*/           { next }
                 NF
              ' ubl-merged.txt \
              | sort -u > ubl-body.txt

              {
                 echo "---"
                 date '+%Y-%m-%d %H:%M:%S'
                 echo "---"
                 cat ubl-body.txt
              } > ubl-mini.txt

         - name: Publish rolling release
           uses: softprops/action-gh-release@v2
           with:
              tag_name: latest
              name: Rolling release
              files: |
                 ubo-minimal.txt
                 ubl-mini.txt
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
