name: Build ubo-minimal

on:
   schedule:
      - cron: "0 0 * * 1"   # weekly, Monday 00:00 UTC
   workflow_dispatch:

permissions:
   contents: write

jobs:
   build:
      runs-on: ubuntu-latest

      steps:
         - name: Download filter lists
           run: |
              urls=(
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-general.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2020.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2021.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2022.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2023.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2024.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2025.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-2026.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/ubo-link-shorteners.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/filters-mobile.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/privacy.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/quick-fixes.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/unbreak.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/lan-block.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/annoyances-cookies.txt
                 https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/annoyances-others.txt
              )

              for u in "${urls[@]}"; do
                 curl -fsSL "$u"
              done > merged.txt

         - name: Strip comments and empty lines
           run: |
              awk '
                 /^!#(if|endif)/ { print; next }
                 /^!/              { next }
                 NF
              ' merged.txt > body.txt

         - name: Add header
           run: |
              printf "! %s\n" "$(date '+%Y-%m-%d %H:%M:%S')" > ubo-minimal.txt
              cat body.txt >> ubo-minimal.txt

         - name: Publish rolling release
           uses: softprops/action-gh-release@v2
           with:
              tag_name: latest
              name: Rolling release
              files: ubo-minimal.txt
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
